<div class="order-summary">
  <h1>Order Summary</h1>
  <table>
    <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of obj.foodItemList">
        <td>{{ item.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">Total</td>
        <td>{{ total }}</td>
      </tr>
    </tfoot>
  </table>
  <button class="checkout-button" (click)="saveOrder()">Place Order</button>
</div>

<div class="dialog-container" *ngIf="showDialog">
  <div class="dialog">
    <h2>Order Placed Successfully!</h2>
    <p>Your order has been placed. Thank you for shopping with us!</p>
    <button (click)="closeDialog()">Close</button>
  </div>
</div>
